---
title: Projects
permalink: /projects/index.html
---

<!-- Get the hastag from the url -->
<script src="/assets/js/filter.js"></script>

<h1>All The <span id="filter-title"></span>Projects</h1>

<section>
  {% include projects/project-feature.html name="americaduck" %}
  {% include projects/project-feature.html name="personaldataserver" %}
  {% include projects/project-feature.html name="today" %}
  {% include projects/project-feature.html name="stringandloop" %}
  {% include projects/project-feature.html name="shadesofhate" %}
</section>
