{% capture displayTags %}{{ include.displayTags }}{% endcapture %}
{% capture displayType %}{{ include.displayType }}{% endcapture %}

{% include projects/project-item.html name="americaduck" tags=displayTags type=displayType %}
{% include projects/project-item.html name="stringandloop" tags=include.displayTags type=include.displayType %}
{% include projects/project-item.html name="personaldataserver" tags=include.displayTags type=include.displayType %}
{% include projects/project-item.html name="quickdraw" tags=include.displayTags type=include.displayType %}
{% include projects/project-item.html name="today" tags=include.displayTags type=include.displayType %}
{% include projects/project-item.html name="freedomcrown" tags=include.displayTags type=include.displayType %}
{% include projects/project-item.html name="bostonmarathon" tags=include.displayTags type=include.displayType %}
{% include projects/project-item.html name="seacretsanta" tags=include.displayTags type=include.displayType %}
{% include projects/project-item.html name="shadesofhate" tags=include.displayTags type=include.displayType %}
{% include projects/project-item.html name="sceneweek" tags=include.displayTags type=include.displayType %}
