{% assign item = site.data.projects[include.name] %}
{% capture hashtags %}{% for hashtag in item.hashtags %}{{ hashtag }} {% endfor %}{% endcapture %}
{% assign minusSpace = hashtags | size | minus: 1 %}

<div class="project-item" {% if item.hashtags %}data-hashtags="{{ hashtags | slice: 0,minusSpace }}"{% endif %}>
  <div class="project-thumb-container">
    <a href="{{ site.url }}/projects/{{ item.url }}">
      <img class="project-thumb" src="{{ item.thumb }}" alt="{{ item.name }}"></a>
  </div>
  <div>
    <div class="project-title">
      <a href="{{ site.url }}/projects/{{ item.url }}" style="color: {{ item.color }}">{{ item.name }}</a>
    </div>
    {{ item.description | replace: ">!", "<span class='spoiler' data-tooltip='Reveal spoiler'>" | replace: '!<', '</span>' }}

    <div class="hashtags">
      {% if item.hashtags %}
        {% for hashtag in item.hashtags%} <a href="/projects/?filter={{ hashtag }}">#{{ hashtag }}</a> {% endfor %}
        {% endif %}
    </div>
  </div>
</div>
