{% comment %} Get the name of the project (the key in data) that will be used to get data from {% endcomment %}
{% assign item = site.data.projects[include.name] %}

{% comment %}
Get all the data hashtags, add a space between each one and assign a
variable that will remove the last trailing space
{% endcomment %}

{% capture hashtags %}{% for hashtag in item.hashtags %}{{ hashtag }} {% endfor %}{% endcapture %}
{% assign minusSpace = hashtags | size | minus: 1 %}

{% if include.current != include.name %}
<div class="project-index-item" {% if item.hashtags %}data-hashtags="{{ hashtags | slice: 0,minusSpace }}"{% endif %}>
      <a href="{{ site.url }}/projects/{{ item.url }}"><img class="project-index-thumb" src="{{ item.thumb }}" alt="{{ item.name }}">
      </a>
      <a href="{{ site.url }}/projects/{{ item.url }}" style="color: {{ item.color }}">{{ item.name }}{{include.end}}</a>
    </div>
{% endif %}
