$max-width: 720px;
$image-width: 780px;

$dark-gray: rgba(0,0,0,0.8);
$medium-gray: rgba(0,0,0,0.6);
$light-gray: rgba(0,0,0,0.4);

$dark-gray-solid: rgb(50, 50, 50);
$light-gray-solid: rgb(205, 205, 205);

$font-size-extra-large: 1.75rem;
$font-size-large: 1.3rem;
$font-size-medium: 1rem;
$font-size-small: .8rem;
$font-size-extra-small: .7rem;

$vSpacing: 4rem;


@mixin center {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin serif {
  font-family: Georgia, Times, "Times New Roman", serif;
}

@mixin sans-serif {
  font-family: "Helvetica Neue", 'Roboto', Helvetica, sans-serif;
  letter-spacing: .0125rem;
}
