.hashtag, .hashtag a {
  @include sans-serif;
  font-size: .8rem;
  background-color: $light-gray-solid;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
  color: white !important;
  font-weight: 400;
}

a.hashtag:hover {
    background-color: $light-gray;
    color: white;
}

.page-hashtag-container {
  @include center;
  max-width: $max-width;
}
