html {
    font-size: 18px;
}

body {
  @include serif;
  line-height: $font-size-medium * 1.5;
  color: $dark-gray;
  margin: 0px;
}

main, header, footer {
  @include center;
}



a {
  color: inherit;
}

a:hover {
  color: $light-gray-solid;
}

a.project-title:hover, .project-index-item a:hover {
  color: $light-gray-solid !important;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, blockquote, hr, time, header, footer, {
  @include center;
}

h1, h2, h3, h4, h5, h6, header, footer {
  @include sans-serif;
  text-decoration: none;
}

h1 {
  font-size: $font-size-extra-large;
  font-weight: 500;
  color: $dark-gray;
  margin-bottom: 1rem;
  // margin-top: .75rem;
}

h2 {
  font-size: $font-size-large;
  font-weight: 500;
  color: $dark-gray;
  margin-top: $vSpacing;
  margin-bottom: 1rem;
}

h3 {
  font-size: $font-size-medium;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: $font-size-medium;
  font-weight: 400;
  color: $light-gray;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


main, header, footer {
  padding-left: $body-padding;
  padding-right: $body-padding;
}


header, footer {
  font-size: $font-size-medium;
  line-height: $font-size-medium * 1.5;
  color: $medium-gray;
}

header {
  margin-top: $body-padding;
  margin-bottom: $vSpacing;
}

footer {
  margin-top: $vSpacing;
  margin-bottom: $body-padding;
}

nav {
  h1, h1 a {
    text-decoration: none;
    font-size: inherit;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  a {
    text-decoration: underline;
    padding-right: 6px;
  }
}


.project-item{
  @include center;
  display: flex;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.project-title {
  @include sans-serif;
  font-weight: 600;
}

.project-item-title{
  @include sans-serif;
  font-weight: 600;
  font-size: $font-size-large;
}

.project-thumb-container  {
  display: flex;
  align-items: center;
  height: auto;
  margin-right: 1rem;
}

.project-thumb {
  display: inherit;
  height: 60px;
}

.project-index, {
  @include center;
  @include sans-serif;
  font-size: $font-size-large;
  font-weight:600;
  flex-wrap: wrap;
  display: flex;
  margin-top: 1rem;
}

.project-index-item  {
  display: flex;
  margin-right: 10px;
}

.project-index-item a {
  text-decoration: none;
}

.project-index-thumb {
  height: 30px;
  margin-right: 6px;
}

.copyright {
  padding-top: $vSpacing;
  color: $light-gray;
  font-size: $font-size-small;
  line-height: $font-size-small * 1.5;
}

.active {
  margin-bottom: 300px;
}
