html {
    font-size: 18px;
}

body {
  @include serif;
  line-height: $font-size-medium * 1.5;
  color: $dark-gray;
  padding: 0px 20px 20px 20px;
  margin: 0px;
}

p, ul, {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, blockquote, hr, time, header, footer, {
  @include center;
}

h1, h2, h3, h4, h5, h6, header, footer {
  @include sans-serif;
  text-decoration: none;
}

h1 {
  font-size: $font-size-large;
  font-weight: 500;
  color: $dark-gray;
  margin-bottom: .5rem;
  margin-top: .5rem;
}


h2 {
  font-size: $font-size-large;
  font-weight: 500;
  color: $dark-gray;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

h3 {
  font-size: $font-size-medium;
  font-weight: 400;
  color: $light-gray;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

header, footer {
  font-size: $font-size-medium;
  line-height: $font-size-medium * 1.5;
  color: $medium-gray;
}

header {
  padding-bottom: $vSpacing - 1;
  margin-top: $vSpacing / 2;
}

nav {
  h1, h1 a {
    text-decoration: none;
    font-size: inherit;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  a {
    text-decoration: underline;
    padding-right: 6px;
  }
}

section {
  margin-bottom: $vSpacing;
}

.project-item{
  @include center;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.project-title {
  @include sans-serif;
  font-weight: 600;
  font-size: $font-size-extra-large;
  margin-bottom: .5rem;
}

.project-title a:hover {
    text-decoration: underline;
}

.project-thumb-container  {
  display: flex;
  align-items: center;
  height: auto;
  margin-right: 1rem;
}

.project-thumb {
  display: inherit;
  height: 60px;
}

.project-index, {
  @include center;
  @include sans-serif;
  font-size: $font-size-large;
  font-weight:600;
  flex-wrap: wrap;
  display: flex;
  margin-top: 1rem;
}

.project-index-item  {
  display: flex;
  margin-right: 10px;
}

.project-index-item a {
  text-decoration: none;
}

.project-index-thumb {
  height: 30px;
  margin-right: 6px;
}

.copyright {
  padding-top: $vSpacing;
  color: $light-gray;
  font-size: $font-size-small;
  line-height: $font-size-small * 1.5;
}

.active {
  margin-bottom: 300px;
}
