#resume h2 {

}


#resume h3 {
  font-weight: 400;
  margin-bottom: 0rem;
}

#resume h4 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}


#resume strong {
  font-weight: 500;
}

#resume ul {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  padding-inline-start: 0px;
}

#resume li {
  margin-left: 20px;
}
