#marquee {
  position: relative;
  display: flex;
}

#live-container {
  display: flex;
  min-width: 45px;
}

#live {
  padding-right: 6px;
  height: 20px;
  width: auto;
  animation: Pulsate 5s linear infinite;
}


#spotify {
  @include center;
  @include sans-serif;
  font-size: $font-size-small;
  line-height: $font-size-small * 1.4;
  color: $light-gray;

  padding-top: 15px;
  padding-bottom: 14px;
  margin-bottom: $vSpacing / 2;

  background-color: white;
  border-bottom: 1px solid $light-gray-solid;

  overflow: hidden;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

@keyframes Pulsate {
  from {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
