#marquee, #marquee-container {
  position: relative;
  display: flex;
  overflow: hidden;
  font-size: $font-size-small;
  line-height: $font-size-small * 1.4;
}


//Adjset padding on the left side to allow marquee to scroll left and remain visible
#marquee {
  padding-left: $body-padding / 2;
}

#spotify {
  @include center;
  @include sans-serif;
  font-size: $font-size-small;
  line-height: $font-size-small * 1.4;
  color: $light-gray;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: $body-padding / 2;
  padding-right: $body-padding;
  background-color: white;

  overflow: hidden;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#left-fade {
  position: absolute;
  background-color: red;
  top: 0;
  left: -1px;
  width: 10px;
  height: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,1) 33%, rgba(255,255,255,0) 100%);
  opacity: 0;
}

.spotify-border-container {
  @include center;
  padding-left: $body-padding;
  padding-right: $body-padding;
}

.spotify-border {
border-bottom: 1px solid $light-gray-solid;
}

#right-fade {
  position: absolute;
  top: 0;
  right: -1px;
  width: 10px;
  height: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 66%);
  opacity: 0;
}

#live-container {
  display: flex;
  min-width: 36px;
  padding-left: $body-padding / 2;
}

#live {
  height: 20px;
  width: auto;
  animation: Pulsate 5s linear infinite;
}

@keyframes Pulsate {
  from {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0.25;
  }

  60% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}
