---
layout: default
---

{% assign project = site.data.projects[page.key] %}
<script>favicon.change("{{ project.thumb }}");</script>
<h1 class="project-page-title project-title" style="color: {{ project.color }}">{{project.name}}</h1>


{% if project.hashtags %}
  <div class="page-hashtag-container">
    {% for hashtag in project.hashtags%}
    {% capture posttag %}{{ hashtag }}{% endcapture %}
    {% include hashtag.html tag=posttag %}
    {% endfor %}
  </div>
{% endif %}


<!-- Wrap the body in a tag and apply link color changes just to just the content -->
<style>
#project-body a {
  color: {{ project.color }};
}
</style>
<span id="project-body">

{{ content }}

</span>


<h2>More Projects</h2>
<div class="project-index">
{% include projects/project-list.html displayTags="false" displayType="index" %}
</div>
