<div id="input">
<div id="left-side" class="window">
  <div class='control-holder' id="menu-holder">
    <div id="undo-clear-grid">
      <button id="undo-button" class='menu-button' title="Undo"><i class="fas fa-undo"></i> Undo</button>
      <button id="clear-button" class='menu-button' title="Clear canvas"><i class="fas fa-trash"></i> Clear</button>
      <button id="grid-button" class='menu-button' title="Hide grid"><i class="fas fa-border-none"></i> Hide Grid</button>
    </div>
    <div id="load-save">
      <button id="save-button" class='menu-button' title="Save drawing"><i class="fas fa-file-download"></i> Download</button>
    </div>
  </div>
  <div id="sketch-border">
    <div id="sketch-holder">
      <!-- sketch goes here! -->
    </div>
  </div>
  <div class="control-holder">
    <div class="center" id="swatch-holder">
      <a><span id="swatch1" class="swatch"></span></a>
      <a><span id="swatch2" class="swatch"></span></a>
      <a><span id="swatch3" class="swatch"></span></a>
      <a><span id="swatch4" class="swatch"></span></a>
      <a><span id="swatch5" class="swatch"></span></a>
      <a><span id="swatch6" class="swatch" style="margin-right: 0 !important"></span></a>
    </div>
  </div>

<div class="control-holder">
  <div class="center" id="brush-holder">
  <button id="brush1" class="brush"><img class="input-icon" src="/assets/images/projects/input/size1.png"> Size 1</button>
  <button id="brush2" class="brush active-button"><img class="input-icon" src="/assets/images/projects/input/size2.png">  Size 2</button>
  <button id="brush3" class="brush"><img class="input-icon" src="/assets/images/projects/input/size3.png"> Size 3</button>
  <button id="brush4" class="brush"><img class="input-icon" src="/assets/images/projects/input/size4.png"> Size 4</button>
  </div>
  </div>

  <div class='control-holder'>
    <div class="center" id="tool-holder">
    <button id="pencil-button" class='tool active-button'><i class="fas fa-pencil-alt"></i> Pencil</button>
    <button id="line-button" class='tool'><img class="input-icon" src="/assets/images/projects/input/line.png"> Line</button>
    <button id="fill-button" class='tool'><i class="fas fa-fill-drip"></i> Fill</button>
    </div>
    </div>
    <div class='control-holder'>
    <div class="center pencil-tool" id="modifier-holder">
    <button id="dither-button" class='modifier'><img class="input-icon" src="/assets/images/projects/input/dither.png"> Dither</button>
    <button id="mirrorx-button" class='modifier'><img class="input-icon" src="/assets/images/projects/input/mirrorX.png"> MirrorX</button>
    <button id="mirrory-button" class='modifier'><img class="input-icon" src="/assets/images/projects/input/mirrorY.png"> MirrorY</button>
    </div>
  </div>

</div>
<div id="right-side">
  <div id="preview-image"></div>
  <img id="sock-image" src="/assets/images/projects/input/preview.png">
</div>
</div>
