<script src="/assets/js/intro.js"></script>
<canvas id="confetti-holder"></canvas>

<p id="intro-spacer">
<br>
<br>
<br>
</p>

<p id="intro-first" style="display:none">
Welcome, it looks like it's your first time here! <b>*queue confetti 🎉*</b> My name is Cody. I'm an artist, designer, and developer.  This is my silly little corner of the internet. Feel free to click around and explore.
</p>

<p id="intro-return" style="display:none">
Welcome back! Sorry, there's no confetti after the first time time. I'm saving it for the next visitors. In case you forgot, my name is Cody. I'm an artist, designer, and developer. This is my silly little corner of the internet. Feel free to click around and explore.
</p>
