<script src="/assets/js/intro.js"></script>
<canvas id="confetti-holder"></canvas>

<p id="intro-spacer">
<br>
<br>
<br>
</p>

<p id="intro-first" style="display:none">
Welcome, it looks like it's your first time here! <b>*queue confetti 🎉*</b> My name is Cody. I'm an artist, designer, and creative technologist. I make fun things. My favorite are below, but what do you want to see?
<br>{% include hashtag.html tag="art" %} {% include hashtag.html tag="design" %} {% include hashtag.html tag="technology" %} {% include hashtag.html tag="physical" %} {% include hashtag.html tag="digital" %}
</p>

<p id="intro-return" style="display:none">
Welcome back! To recap, my name is Cody. I'm an artist, designer, and creative technologist. I make fun things. My favorite are below, but what do you want to see?
<br>{% include hashtag.html tag="art" %} {% include hashtag.html tag="design" %} {% include hashtag.html tag="technology" %} {% include hashtag.html tag="physical" %} {% include hashtag.html tag="digital" %}
</p>
